{% extends 'pages/page.html' %}
{% block content %}
<div class="container-fluid" style="background-color:aliceblue">
    <div class="container d-flex align-items-center justify-content-center " style="min-height:500px">
       <table class="table table-bordered ">

          <thead>
               <tr>
                  <td>ID</td>
                  <td>SDT</td>
                  <td>Dia Chi</td>
                  <td>Thoi Gian</td>
                  <td>Tong Tien</td>
               </tr>
          </thead>    
          
          <tbody>
            {% for item in  bill %}
              <tr>
                 <td>{{item.id}}</td>
                 <td>{{item.phone}}</td>
                 <td>{{item.address}}</td>
                 <td>{{item.create_at}}</td>
                 <td>{{item.TotalPrice}}$</td>
               
              </tr>      
            {% endfor %}
         </tbody>

       </table>

    </div>
</div> 


 
 <script type="text/javascript" >
    
</script>
{% endblock content %}


