{% extends 'pages/page.html' %}
{% block content %}
    
   
   {% if cart == '' %}
       hay mua san pham
    {% else %}
    <table class="table-bordered">
        {% for item in cart %}
          <tr>
              <td><img src="../Home/media/{{item.product.image}}" alt="" style="height:100px"></td>
              <td>{{item.product.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>     
              <td>{{item.create_at}}</td> 
              <td>{{item.totalPrice}}</td>     
          </tr>
         
        {% endfor %}
    </table>
    <a href="{% url 'home:order-form' %}">order</a>

    {% endif %}

{% endblock content %}