{% extends 'pages/page.html' %} 
{% block content %}
      
      {% if request.user.is_authenticated %}
            {{user.username}}
          <a href="{% url 'home:Logout' %}">Dang Xuat</a>           
        {% else %}
          <a href="{% url 'home:Login' %}">Dang nhap</a>
      {% endif %}
            
     

      {% for item in items  %}
        <div> {{item.id}} </div>
         <img  src="Home/media/{{item.image}}" alt="" srcset="" style="height: 100px;" >
         <div> {{item.name}} </div>
           
      {% endfor %}
         
    
{% endblock content %}  