{% extends 'pages/page.html' %} 
{% block content %}
   
   <div class="container-fluid pb-5 gradient-custom-2" > 
         <h3 style="text-align:center;font-size: 50px;color:aquamarine;font-family:emoji" class="pt-5">Python Shop</h3>
     <div class="row">
         <div class="col-2 mt-5">
           <caption> 
              Tim kiem
              <form action="{% url 'home:Shopping' %}" method="GET">
                <input type="text" name='q'>
                <button>search</button>
              </form>
           </caption> 
      
               <ul class="list-group w-75 mt-5">
                  <a href="{% url 'home:Shopping' %}" class="list-group-item">All</a>
           {% for type in types %}
                  <a class="list-group-item" href="{% url 'home:Shopping' %}?q={{type}}"> {{type}} </a>       
           {% endfor %}
                </ul>
         
           
         </div>
        
         <div class="col-8 mt-5" style="background-color:whitesmoke">
           <div class="row d-flex mt-5">

               {% if items == '' %}
                <h1 class="d-flex justify-content-center" >khong co san pham nao</h1>
               {% endif %}

              {% for item in page  %} 
              <div class="col-xl-3 col-lg-4 col-sm-6 d-flex justify-content-center mt-5 ">
                <div class="card text-center product-card"  >
                  <div class="card-img">
                     <img  src="../Home/media/{{item.image}}" alt="" srcset="" style="width: 100%;height:250px" >
                  </div>     
                  <div class="card-body pb-5" style="background: #e9e7e4;">
                     
                     <h5 class="card-title">  {{item.name}}  </h5>
                     <p class="card-text">Price : {{item.price}}$</p>

                      <div class="small-ratings card-text">
                          <i class="fa fa-star rating-color"></i>
                          <i class="fa fa-star rating-color"></i>
                          <i class="fa fa-star rating-color"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>   
             
                     
                     <div class="addtoCart">
                       <a href="{% url 'home:ProductDetail' item.id  %}" >Xem Chi tiet</a>
                       <br>
                       <button onclick="addtoCart({{item.id}})" class="btn btn-primary ">addtocart</button>
                    </div>
                   </div>                  
                </div>
              </div>                      
              {% endfor %}
           </div>   
           <nav aria-label="Page navigation example " class="mt-5">
            <ul class="pagination d-flex justify-content-center">
               
               {% if page.has_previous  %}
                <li class="page-item">
                   <a class="page-link" href="?page={{page.previous_page_number}}&q={{q}}">Previous</a>
               </li>
               {% else %}
                 <li class="page-item disabled">
                    <a class="page-link" href="">Previous</a>
                </li>
               {% endif %}

             {% for page_number in page.paginator.page_range  %}               
                {% if page.number == page_number %}
                 <li class="page-item active">
                   <a href="?page={{page_number}}&q={{q}}" class="page-link">{{page_number}} </a>
                 </li>
                 {% else %}
                 <li class="page-item ">
                  <a href="?page={{page_number}}&q={{q}}" class="page-link">{{page_number}} </a>
                </li>
                {% endif %}
             {% endfor %}

              {% if page.has_next %}
                <li class="page-item">
                   <a class="page-link" href="?page={{ page.next_page_number }}&q={{q}}">Next</a>
                </li>
               {% else %}
                <li class="page-item disabled">
                   <a class="page-link" href="">Next</a>       
                </li>
              {% endif %}
               
            </ul>
          </nav>
           
         </div>
           
          
      </div>
   </div>    
 
   
   <script type="text/javascript" >
      
        function addtoCart(id){  
          {% if request.user.is_authenticated %}
          $.ajax({ 
            url:'{% url 'home:addtoCart' %}',
            method:'POST',
            data:{csrfmiddlewaretoken: '{{ csrf_token }}',id:id },
            success:function(data){
              alert('Them thanh cong')
            }
          }) 
          {% else %}
            location.href='{% url 'home:Login' %}'
          {% endif %}
        }
    </script>
    
{% endblock content %}  