.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
.gradient-custom-2{
    background: linear-gradient(315deg, #a7d6c6 0%, #d5a7b7 100%);
    background: radial-gradient(circle at right top, #216079 , #d3fdb0)
}
.product-card{
    width:250px; 
    height: 450px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    position: relative;
    cursor: pointer;
}

.addtoCart{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    
}
.product-card:hover .addtoCart{
    background: none repeat scroll 0 0 rgba(152, 149, 133, 0.8);
     opacity: 1;
     transition: 1s;
     visibility: visible;  
}
.product-card:hover{
    border: blue solid 1px;
}
.rating-color{
    color:#fbc634 !important;
}
.errorlist{
    list-style-type: none;
}
.errorlist>li{
    color:red
}